<template name="searchPostsList">

	<h4 class="text-right">搜索结果</h4>
	<ul class="list-swagga">
		{{#each searchPostsList}}
			{{> searchPostItem}}
		{{/each}}
	</ul>

</template>

<template name="searchPostItem">

	<li class="item-swagga">
		<div class="post-item">
			<div class="content">{{#markdown}}{{{content}}}{{/markdown}}</div>
			<div class="foot text-small clearfix">
				<ul class="pull-right">
					<li>
						<a href="javascript:;">
							<time class="timeago" datetime="{{timeago createdAt}}"></time>
						</a>
					</li>
				</ul>
				<ul>
					<li>
						<a href="{{pathFor 'comments'}}">评论 <sup>{{stats.comments}}</sup></a>
					</li>
					<li>
						<a href="javascript:;">热度 <sup>{{stats.pageviews}}</sup></a>
					</li>
				</ul>
			</div>
		</div>
	</li>

</template>
