<template name="commentForm">

	<div class="sticky-wrap">
		<form action="javascript:;" id="comment-form">
			<h5 style="padding: 0 13px;">禁发政治、色情等敏感内容</h5>
			<div class="form-group">
				<div class="input-group">
					<textarea name="content" id="content" class="form-control" rows="1" placeholder="请让这里变得更美好"></textarea>
					<div class="input-group-btn vat">
						<button type="button" id="newComment" class="btn btn-default bln">评论</button>
						<button type="button" class="btn btn-default dropdown-toggle bln" data-toggle="dropdown">
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu pull-right">
							<li>
								<a href="javascript:;">开发中。。。</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="form-group">
				{{#with post}}
					<input type="hidden" name="postId" id="postId" value="{{_id}}">
				{{/with}}
				<input type="reset" class="hide reset" value="reset">
			</div>
		</form>
	</div>

</template>
